<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>bootstrap指南</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
<h1>hello! world !</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4" style="background-color:#f2dede;box-shadow: #f2dede">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo.
            </p>
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae vitae
                dicta sunt explicabo.
            </p>
        </div>
        <div class="col-xs-6 col-md-offset-3" style="background-color: #2b542c;box-shadow: #0f0f0f">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"
             style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <h3>第一列</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
        <div class="col-md-9"
             style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <h3>第二列--分为四个盒子</h3>
            <div class="row">
                <div class="col-md-6"
                     style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        Consectetur art party Tonx culpa semiotics. Pinterest
                        assumenda minim organic quis.
                    </p>
                </div>
                <div class="col-md-6"
                     style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"
                     style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat.
                    </p>
                </div>
                <div class="col-md-6"
                     style="background-color: #B18904; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <p>排序前</p>
        <div class="col-md-4" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            我在左边
        </div>
        <div class="col-md-8" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            我在我在右边
        </div>
    </div>
    <br>
    <div class="row">
        <p>排序后</p>
        <div class="col-md-4 col-md-push-8" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            我在左边
        </div>
        <div class="col-md-8 col-md-pull-4" style="background-color: #dedef8; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            我在右边
        </div>
    </div>

    <div class="row">
        <h1>我是标题H1 <small>我是副标题H1</small></h1>
    </div>

    <div class="row">
        <h2>引导主体副本</h2>
        <p class="lead">
            这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。
            这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。这是一个演示引导主体副本用法的实例。
        </p>
    </div>

    <div class="row">
        <small>我是中国人</small>
        <strong>我是中国人</strong>
        <em>我是中国人</em>
        <p class="text-left">向左对齐文本</p>
        <p class="text-center">居中对齐文本</p>
        <p class="text-right">向右对齐文本</p>
        <p class="text-muted">本行内容是减弱的</p>
        <p class="text-primary">本行内容带有一个primary class</p>
        <p class="text-success">本行内容带有一个success class</p>
        <p class="text-info">本行内容带有一个info class</p>
        <p class="text-warning">本行内容带有一个warning class</p>
        <p class="text-danger">本行内容带有一个danger class</p>
    </div>

    <div class="row">
        <abbr title="World Wide Web">WWW</abbr><br>
        <abbr title="Real Simple Syndication" class="initialism">RSS</abbr>
    </div>

    <div class="row">
        <address>
            <strong>Some Company, Inc.</strong><br>
            007 street<br>
            Some City,State XXXXX<br>
            <abbr title="Phone">P:</abbr>(123)456-7890
        </address>
        <address>
            <strong>Full Name</strong><br>
            <a href="mailto:#">mailto@somedomain.com</a>
        </address>
    </div>



    <div class="row">
        <div class="col-md-4">
            <img src="../img/1.jpg" class="img-responsive" alt="响应式图像1.jpg">
        </div>
       <div class="col-md-8">
           <img src="../img/2.jpg" class="img-responsive" alt="响应式图像2.jpg">
       </div>
    </div>

    <div class="row">
        <h4>有序列表</h4>
        <ol>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ol>
        <h4>无序列表</h4>
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <h4>未定义样式列表</h4>
        <ul class="list-unstyled">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <h4>内联列表</h4>
        <ul class="list-inline">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <h4>定义列表</h4>
        <dl>
            <dt>Description 1</dt>
            <dd>item 1</dd>
            <dt>Description 1</dt>
            <dd>item 2</dd>
        </dl>
        <h4>水平的定义列表</h4>
        <dl class="dl-horizontal">
            <dt>Description 1</dt>
            <dd>item 1</dd>
            <dt>Description 1</dt>
            <dd>item 2</dd>
        </dl>
    </div>

</div>

<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>