<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>bootstrap中图片的使用</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
    <div class="container">
       <img src="../img/1.jpg" class="img-rounded">
       <img src="../img/2.jpg" class="img-circle">
       <img src="../img/2.jpg" class="img-thumbnail">
       <img src="../img/2.jpg" class="img-responsive">
    </div>
</body>
</html>