<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>bootstrap中分页的使用</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <ul class="pagination pagination-lg">
        <li><a href="#">&laquo;</a> </li>
        <li class="active"><a href="#">1</a> </li>
        <li><a href="#">2</a> </li>
        <li><a href="#">3</a> </li>
        <li><a href="#">4</a> </li>
        <li><a href="#">5</a> </li>
        <li><a href="#">&raquo;</a> </li>
    </ul>
    <br>

    <ul class="pagination">
        <li><a href="#">&laquo;</a> </li>
        <li class="active"><a href="#">1</a> </li>
        <li><a href="#">2</a> </li>
        <li><a href="#">3</a> </li>
        <li><a href="#">4</a> </li>
        <li><a href="#">5</a> </li>
        <li><a href="#">&raquo;</a> </li>
    </ul>

    <br>
    <ul class="pagination pagination-sm">
        <li><a href="#">&laquo;</a> </li>
        <li class="active"><a href="#">1</a> </li>
        <li><a href="#">2</a> </li>
        <li><a href="#">3</a> </li>
        <li><a href="#">4</a> </li>
        <li><a href="#">5</a> </li>
        <li><a href="#">&raquo;</a> </li>
    </ul>

    <br>
    <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a> </li>
        <li class="next"><a href="#">Newer &rarr;</a> </li>
    </ul>


</div>
<script src="../js/jquery-3.2.1.js"></script>
<script src="../js/bootstrap.js"></script>
</body>
</html>